@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Recursive:wght@300;400;500;600&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Recursive', sans-serif; */

body{
    font-family: 'Recursive', sans-serif !important;  
    overflow-x: hidden;
}
form label{
    font-style: italic;
    font-weight: lighter;
}
.issue-brand{
    font-family: 'Lobster', cursive !important;
    font-size: 1.5rem !important;
   
}